{
  "extends": ["../../.eslintrc.cjs"],
  "plugins": ["playwright"],
  "rules": {
    "playwright/missing-playwright-await": "error",
    "playwright/no-page-pause": "error",
    "playwright/prefer-to-have-length": "error",
    "playwright/valid-expect": "error"
  }
}
