name: Backport

on:
  pull_request:
    types:
      - closed
      - labeled

jobs:
  backport:
    name: Backport
    runs-on: ${{ vars.RUNS_ON }}
    if: >
      github.event.pull_request.merged
      && (
        github.event.action == 'closed'
        || (
          github.event.action == 'labeled'
          && contains(github.event.label.name, 'backport')
        )
      )
    steps:
      - uses: tibdex/backport@v2
        with:
          github_token: ${{ secrets.GATEWAY_BOT_PAT }}
