name: Build & Release

on:
  pull_request: # TODO

  push:
    branches:
      - main
    tags-ignore:
      - nightly

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    secrets: inherit

  build-and-push-test-image:
    name: Build and Push Test Image to GHCR
    uses: ./.github/workflows/.reusable_test_image.yml
    needs: build
    secrets: inherit
    with:
      gateway-image: kong/kong:nightly-ubuntu

  e2e-tests:
    name: E2E Tests
    needs: build-and-push-test-image
    uses: ./.github/workflows/.reusable_e2e_tests.yml
    with:
      gateway-image: ${{ needs.build-and-push-test-image.outputs.gateway-test-image }}
    secrets: inherit

  release:
    name: Release
    runs-on: ${{ vars.RUNS_ON }}
    needs: e2e-tests
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN_PRIVATE_READ }}
      VITE_DATADOG_CLIENT_TOKEN: ${{ secrets.DATADOG_CLIENT_TOKEN }}
      VITE_DATADOG_APPID: ${{ secrets.DATADOG_APPID }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Download assets
        timeout-minutes: 5
        uses: actions/download-artifact@v3
        with:
          name: assets

      - name: Rename assets
        run: mv ./assets.tar.gz ./release.tar.gz

      - name: Release non-nightly
        if: startsWith(github.ref, 'refs/tags/')
        timeout-minutes: 5
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPOSITORY: ${{ github.repository }}
          RELEASE_TAG_NAME: ${{ github.ref_name }} # this is the tag name
          RELEASE_TARGET: ${{ github.sha }}
        run: bash .ci/release-non-nightly.sh

      - name: Release nightly
        if: github.ref == 'refs/heads/main'
        timeout-minutes: 5
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPOSITORY: ${{ github.repository }}
          RELEASE_TAG_NAME: nightly
          RELEASE_TARGET: ${{ github.sha }}
        run: bash .ci/release-nightly.sh
